<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Promessenger">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ProMessenger"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.Promessenger.messages.MadeBy"></activity>
        <activity android:name="com.example.Promessenger.messages.chatLogActivity">
            <meta-data
                android:name="android.support.PARENTACTIVITY"
                android:value=".LatestMessagesActivity" />
        </activity>
        <activity android:name="com.example.Promessenger.NewMessageActivity">
            <meta-data
                android:name="android.support.PARENTACTIVITY"
                android:value=".LatestMessagesActivity" />
        </activity>
        <activity android:name="com.example.Promessenger.messages.LatestMessagesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.Promessenger.MainActivity" />
        <activity android:name="com.example.Promessenger.registerlogin.LoginActivity" />
    </application>

</manifest>